.App {
  padding: 10px;
  text-align: center;
}
html {
  background: #E9C46A;

  background: linear-gradient(to right, #E9C46A 0%, #E76F51FF 50%, #E9C46A 100%);
  
}
.buttons{
  margin:10px;
  padding: 10px;
  margin-left:25%;
  margin-right: 25%;
  justify-content: center;
  display: flex;
}